# Dependencies
node_modules/
docs/node_modules/

# Next.js
docs/.next/
docs/out/

# Environment
.env
.env.local

# Misc
.DS_Store
*.log

# IDE
.idea/
.vscode/

# BMAD
.doc-changes/*.yaml
!.doc-changes/.gitkeep

# Agent Browser
.browser-profiles/
.browser-state/
*.trace.zip
docs-screenshot*.png

# Auto Claude data directory
.auto-claude/
nul
/.auto-claude/roadmap
.auto-claude/roadmap/roadmap.json
.vercel
docs/public/_pagefind/*